html, body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

h2 {
	margin: 0;
}

p {
	line-height: normal;
	margin: auto;
}

nav.header {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(170, 170, 170, 0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(170, 170, 170, 0.3);
    box-shadow: 0px 3px 5px 0px rgba(170, 170, 170, 0.3);
    background: #ffffff;
    border-bottom: 1px solid rgba(170, 170, 170, 0.3);
    color: #292929;
    display: table;
    height: 50px;
    padding: 0 30px;
}

nav.header > .header-logo {
	color: #333333;
	display: table-cell;
    min-width: 120px;
}

nav.header > .options-container {
	display: table-cell;
	width: 100%;
	line-height: 50px;
	text-align: right;
}

nav.header > .options-container > a.option,
nav.header > .options-container > div.dropdown {
	color: inherit;
	display: table-cell;
	float: right;
	padding: 0 10px;
	width: auto;
}

nav.header > .options-container > div.dropdown { padding: 0; }

nav.header > .options-container > div.dropdown a {
	color: inherit;
	display: block;
	padding: 0 10px;
	text-decoration: none;
}

nav.header > .options-container > a.option:hover,
nav.header > .options-container > div.dropdown a:hover {
	background-color: #f5f5f5;
	text-decoration: none;
}

nav.header > .options-container > div.dropdown div.dropdown-menu {
	color: #ccc;
	left: auto;
	margin-top: 3px;
	padding: 10px;
	right: 0;
	width: 250px;
}

body > div.global-container {
	height: 100%;
	width: 100%;
}

.login-container {
	display: flex;
	justify-content: center;
	height: 100%;
}

.login-box {
	align-self: center;
	background: white;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: -102px;
    width: 400px;
}

.auth-form h2 {
	font-weight: 300;
	margin-bottom: 10px;
}

.auth-form form label {
	display: block;
	font-weight: 400;
	line-height: normal;
}

.auth-form form input {
	border: 1px solid #aaa;
	border-radius: 3px;
	display: block;
	line-height: normal;
	margin: 5px 0;
	margin-bottom: 10px;
	outline: none;
	padding: 10px;
	width: 100%;
}

.auth-form form input[type="text"]:focus,
.auth-form form input[type="password"]:focus {
	border-color: #1D77F5;
}

.auth-form form input[type="submit"] {
	background-color: #1279E6;
	border-color: #1D77F5;
    color: #FFFFFF;
}

.auth-form form input[type="submit"]:hover {
	background-color: #0A53A0;
}

.dropdown-caret, .caret-outer, .caret-inner {
	line-height: 20px;
	position: absolute;
}

.dropdown-caret {
	height: 10px;
	left: auto;	
	overflow-x: hidden;
	overflow-y: hidden;
	right: 10px;
	top: -10px;
	width: 18px;
}

.caret-outer, .caret-inner {
	border-bottom-style: solid;
	border-left-color: rgba(0, 0, 0, 0);
	border-left-style: solid;
	border-right-color: rgba(0, 0, 0, 0);
	border-right-style: solid;
	height: 0px;
	margin-left: -1px;
}

.caret-outer {
	border-bottom-color: #cccccc;
	border-bottom-width: 10px;
	border-left-width: 10px;
	border-right-width: 10px;
	left: 0px;
	top: 0px;
	width: 0px;
}

.caret-inner {
	border-bottom-color: #ffffff;
	border-bottom-width: 9px;
	border-left-width: 9px;
	border-right-width: 9px;
	left: 1px;	
	top: 1px;
}

body > div.global-container > .home-container {
	display: table;
	background-color: #ffffff;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-top: 20px;
    padding: 20px 30px;
    width: 100%;
}

body > div.global-container > .home-container > .search-activity {
	display: table-cell;
	width: 100%;
}

body > div.global-container > .home-container > .search-activity .control-box {
	display: table;
	width: 100%;
}

.control-box > form {
	display: table-cell;
	vertical-align: top;
	width: 100%;
}

.control-box > form > input[type="text"].search {
	border: 1px solid black;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 7px;
	width: 100%;
}

.control-box > form > button[type="submit"] {
	width: 100%;
}

.control-box > button.add {
	display: table-cell;
	min-width: 52px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-top: 0;
	padding: 7px;
	border-left: 0;
	border-color: #000
}

body > div.global-container > .home-container > .search-activity > .query-form {
	margin-top: 30px;
}

body > div.global-container > .home-container > .search-activity > .query-form textarea {
	min-height: 70px;
	resize: none;
	width: 100%;
}

body > div.global-container > .home-container > .search-activity > .posts-container-heading {
	display: table;
	margin: 10px auto;
	width: 100%;
}

body > div.global-container > .home-container > .search-activity > .posts-container-heading span:nth-of-type(1) {
	display: table-cell;
	font-size: 18px;
	font-weight: bold;
	min-width: 100px;
}

body > div.global-container > .home-container > .search-activity > .posts-container-heading span:nth-of-type(2) {
	color: #ccc;
	display: table-cell;
	text-align: right;
	width: 100%;
}

.posts-container {
	display: block;
	width: 100%;
}

.posts-container > .post-entry {
	border-top: 1px solid #ccc;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.posts-container > .post-entry > .post-intro {
	display: table;
	width: 100%;
}

.posts-container > .post-entry > .post-intro > .post-comment-user {
	display: table-cell;
	width: 100%;
}

.posts-container > .post-entry > .post-intro > .post-show {
	display: table-cell;
	width: 20px;
}

.posts-container > .post-entry > .post-details {
	display: block;
	width: 100%;
}

.posts-container > .post-entry > .post-details > .comments-remarks {
	display: block;
	padding: 5px 0;
	width: 100%;
}

.posts-container > .post-entry > .post-details > pre {
	position: relative;
}

.posts-container > .post-entry > .post-details > pre > span.lang {
	background-color: rgba(223, 223, 223, 0.5);
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 3px;
	display: block;
	font-size: 10px;
	position: absolute;
	right: 0;
	top: 0;
	padding: 3px;
}

body > div.global-container > .home-container > .activity-sidebar {
	display: table-cell;
	padding-left: 20px;
	min-width: 380px;
}

body > div.global-container > .home-container > .activity-sidebar > .header-options {
	
	display: block;
	font-size: 18px;
	font-weight: bold;
	padding-left: 5px;
	width: 100%;
}

body > div.global-container > .home-container > .activity-sidebar > ul.list-options {
	list-style: none;
	padding: 5px;
	padding-left: 0;
}

body > div.global-container > .home-container > .activity-sidebar > ul.list-options > li {
	display: table;
	font-size: 15px;
	padding: 5px;
}

body > div.global-container > .home-container > .activity-sidebar > ul.list-options > li:hover {
	background-color: #eee;
}

body > div.global-container > .home-container > .activity-sidebar > ul.list-options > li a {
	display: table-cell;
	width: 100%;
}

body > div.global-container > .home-container > .activity-sidebar > ul.list-options > li i {
	font-size: 15px;
}